@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-5px);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
